<footer class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
        <div class="d-flex align-items-center gap-3"><span class="color-n-7">© 2023 - PUPAA</span><span class="color-n-5" data-txt-key="txtFooterRights">All rights reserved<br></span></div>
        <div class="d-flex align-items-center gap-3"><a id="footer-privacy-link-id" class="footer__link color-n-5 txt-u" href="https://www.pup.edu.ph/privacy/" data-txt-key="txtFooterPrivacy" target="_blank">Privacy Policy<br></a><a id="footer-terms-link-id" class="footer__link color-n-5 txt-u" href="https://www.pup.edu.ph/terms/" data-txt-key="txtFooterTerms" target="_blank">Terms &amp; Conditions<br></a></div>
</footer>
