
<body>
<app-header></app-header>
    <header>
        <section id="home">

            <div data-bss-parallax-bg="true" style="height: 600px;background: url(&quot;../../../../../assets/PUP-BG-2.png&quot;) center / cover;">
                <div class="container-fluid h-100" style="background: rgba(128,0,0,0.21);">
                    <div class="row h-100">
                        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold text-start" style="text-shadow: 2px 2px 0px goldenrod;color: rgb(255,255,255);text-align: right !important;">Welcome to pupaa system!</h1>
                                <p class="text-start my-3" style="color: rgb(255,255,255);text-align: right !important;">Effortlessly schedule and manage appointments with PUP's Appointment Assistant System</p>
                                <a class="btn btn-primary btn-lg me-2" role="button" routerLink="/bookings">Book an Appointment here!</a>
                            </div>
                        </div>
                        <div class="col text-center align-self-center"><img src="../../../assets/PUPLogo.png" style="width: 260px;"></div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section id="about" class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em" height="1em" fill="currentColor" class="m-auto text-primary" data-bss-hover-animate="pulse" style="width: 72px;height: 72px;color: maroon !important;">
                                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M319.9 320c57.41 0 103.1-46.56 103.1-104c0-57.44-46.54-104-103.1-104c-57.41 0-103.1 46.56-103.1 104C215.9 273.4 262.5 320 319.9 320zM369.9 352H270.1C191.6 352 128 411.7 128 485.3C128 500.1 140.7 512 156.4 512h327.2C499.3 512 512 500.1 512 485.3C512 411.7 448.4 352 369.9 352zM512 160c44.18 0 80-35.82 80-80S556.2 0 512 0c-44.18 0-80 35.82-80 80S467.8 160 512 160zM183.9 216c0-5.449 .9824-10.63 1.609-15.91C174.6 194.1 162.6 192 149.9 192H88.08C39.44 192 0 233.8 0 285.3C0 295.6 7.887 304 17.62 304h199.5C196.7 280.2 183.9 249.7 183.9 216zM128 160c44.18 0 80-35.82 80-80S172.2 0 128 0C83.82 0 48 35.82 48 80S83.82 160 128 160zM551.9 192h-61.84c-12.8 0-24.88 3.037-35.86 8.24C454.8 205.5 455.8 210.6 455.8 216c0 33.71-12.78 64.21-33.16 88h199.7C632.1 304 640 295.6 640 285.3C640 233.8 600.6 192 551.9 192z"></path>
                            </svg></div>
                        <h3>User Experience</h3>
                        <p class="lead mb-0">Using the appointment scheduling software should be a breeze.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cursor-fill m-auto text-primary" data-bss-hover-animate="pulse" style="width: 72px;height: 72px;color: maroon !important;">
                                <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"></path>
                            </svg></div>
                        <h3>Easy to Navigate</h3>
                        <p class="lead mb-0">Designed to enhance user experience and convenience.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-ui-checks m-auto text-primary" data-bss-hover-animate="pulse" style="width: 72px;height: 72px;color: maroon !important;">
                                <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708l-2 2zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708l-2 2zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"></path>
                            </svg></div>
                        <h3>Hassle-Free</h3>
                        <p class="lead mb-0">Book an appointment and get an approval with a few clicks and touches.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background: url(&quot;../../../../../assets/PUP-BG-3.png&quot;) top right;"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2 style="color: rgb(33, 37, 41);"><strong><span style="background-color: rgb(248, 249, 250);">User Experience</span></strong></h2>
                    <p class="lead mb-0" style="text-align: justify;">The PUP Appointment Assistant System prioritizes a seamless user experience, ensuring that every step of the appointment booking process is intuitive and user-friendly.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background: url(&quot;../../../../../assets/PUP-BG-1.png&quot;) top center;"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Easy to Navigate</h2>
                    <p class="lead mb-0" style="text-align: justify;">With a simple and intuitive interface, the PUP Appointment Assistant System makes it effortless for users to navigate through the system, enabling quick and convenient appointment scheduling.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background: url(&quot;../../../../../assets/PUP-BG-2.png&quot;) top center;"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Hassle-Free</h2>
                    <p class="lead mb-0" style="text-align: justify;">The PUP Appointment Assistant System streamlines the entire appointment process, eliminating any unnecessary complications or frustrations, providing users with a hassle-free experience from start to finish.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col"><img class="img-fluid d-block mx-lg-auto" data-bss-hover-animate="pulse" src="../../../assets/PUPLogo.png" width="700" height="500" loading="lazy"></div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Polytechnic University of the Philippines</h1>
                    <p class="lead" style="text-align: justify;">PUP Santa Rosa is a satellite campus of the Polytechnic University of the Philippines (PUP) located in the vibrant city of Santa Rosa, Laguna. Known for its commitment to quality education, PUP Santa Rosa offers a diverse range of academic programs that cater to the needs and interests of students.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-primary btn-lg px-4 me-md-2" role="button" href=" https://www.pup.edu.ph/starosa/" target="_blank">Learn More</a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6">
                    <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" data-bss-hover-animate="pulse" style="min-height: 300px;" src="../../../assets/PUPAA LOGO MAROON.png"></div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-center">
                    <div style="max-width: 350px;">
                        <h2 class="fw-bold">The System</h2>
                        <p class="fw-light my-3" style="text-align: justify;">The PUP Appointment Assistant System is a user-friendly online platform developed by the Polytechnic University of the Philippines (PUP) to streamline the appointment scheduling process for various university services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="text-center bg-light testimonials" style="padding-bottom: 80px;padding-top: 100px;">
        <div class="container">
            <h2 class="mb-5">The Developers</h2>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-bss-hover-animate="pulse" src="../../../assets/JK DP.jpg">
                        <h5>John Kenneth H. Vallejo</h5>
                        <p class="font-weight-light mb-0">UI/UX Designer</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-bss-hover-animate="pulse" src="../../../assets/PAOLO DP.jpg">
                        <h5>Jose Paolo C. Evasco</h5>
                        <p class="font-weight-light mb-0">Front-End Developer</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-bss-hover-animate="pulse" src="../../../assets/JUSTEIN DP.jpg">
                        <h5>Justein Khryss J. Garcia</h5>
                        <p class="font-weight-light mb-0">Front-End Developer</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-bss-hover-animate="pulse" src="../../../assets/Jose 2x2.jpg">
                        <h5>Jose Miguel M. Sevilla</h5>
                        <p class="font-weight-light mb-0">Quality Assurance</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" data-bss-hover-animate="pulse" src="../../../assets/KENNETH DP.jpg">
                        <h5>Kenneth Hernane</h5>
                        <p class="font-weight-light mb-0">Back-End Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faqs" class="py-5 bg-light" style="padding-bottom: 0px;">
        <h1 class="text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: rgb(33,37,41) !important;">FAQs</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div id="faqlist" class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1">What is the PUP Appointment Assistant System?</button></h2>
                            <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The PUP Appointment Assistant System is an online platform developed by the Polytechnic University of the Philippines (PUP) to facilitate the scheduling and management of appointments for various services offered by the university. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2">How does the PUP Appointment Assistant System work?</button></h2>
                            <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The system allows users to select the type of service they require, choose a preferred date and time slot, and make an appointment online. It ensures a streamlined and efficient process for both users and the university staff.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3">What services can I book through the PUP Appointment Assistant System?</button></h2>
                            <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The PUP Appointment Assistant System enables users to book appointments for services such as admissions, enrollment, counseling, library access, academic advising, and more. The available services may vary based on the university's offerings. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4">Do I need to create an account to use the PUP Appointment Assistant System?</button></h2>
                            <div id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> No, you do not need to create an account in order to use the system. The system allows you to manage your appointments, receive notifications, and access additional features provided by the system for free. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5">Can I see the availability of appointment slots before making a selection?</button></h2>
                            <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> Yes, the PUP Appointment Assistant System displays the available appointment slots based on the selected service and preferred date. You can choose from the displayed options according to your convenience. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-6">How far in advance can I make an appointment?</button></h2>
                            <div id="content-accordion-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The availability of appointment slots may vary depending on the service you are booking. Generally, the system allows users to book appointments within a specified timeframe, which could range from a few days to several weeks in advance. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-7">Is the PUP Appointment Assistant System available 24/7?</button></h2>
                            <div id="content-accordion-7" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The PUP Appointment Assistant System is accessible online 24/7, allowing users to make appointments at their convenience. However, the availability of specific services and appointment slots may vary based on the university's operating hours and policies. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-8">Will I receive a confirmation of my appointment after booking it through the system?</button></h2>
                            <div id="content-accordion-8" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> Yes, upon successful booking of an appointment, the PUP Appointment Assistant System will generate a confirmation message or email containing the details of your appointment. It is advisable to keep this confirmation for reference or future communication with the university. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-9">Can I view my appointment history or upcoming appointments in the system?</button></h2>
                            <div id="content-accordion-9" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> Yes, the PUP Appointment Assistant System typically includes a feature that allows users to view their appointment history as well as their upcoming appointments. This feature enables you to track and manage your appointments effectively. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-10">What should I do if I miss my scheduled appointment?</button></h2>
                            <div id="content-accordion-10" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> If you miss your scheduled appointment, there are two options that you can do. You can either go to the location as a walk-in client, or contact the relevant department or service provider as soon as possible to explain the situation and explore the possibility of rescheduling which is advisable. Note that missed appointments may result in a delay or rescheduling of your desired service. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-11">Can I use the PUP Appointment Assistant System on my mobile device?</button></h2>
                            <div id="content-accordion-11" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> Yes, the PUP Appointment Assistant System is designed to be mobile-friendly and can be accessed using a compatible web browser on your mobile device. This allows you to make appointments, view information, and manage your appointments conveniently while on the go. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-12">Are there any fees associated with using the PUP Appointment Assistant System?</button></h2>
                            <div id="content-accordion-12" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The use of the PUP Appointment Assistant System is typically free of charge. However, please note that there may be fees associated with specific services offered by the university. It is important to refer to the relevant service information or contact the university for details regarding any applicable fees. </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-13">Is my personal information secure when using the PUP Appointment Assistant System?</button></h2>
                            <div id="content-accordion-13" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <p class="accordion-body" style="text-align: justify;"> The PUP Appointment Assistant System strives to maintain the security and confidentiality of users' personal information. The system typically incorporates industry-standard security measures to protect data and ensure compliance with privacy regulations. However, it is always recommended to review the system's privacy policy and take necessary precautions while using any online platform. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<app-footer></app-footer>
