<app-header></app-header>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="label">Appointment Submitted</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Name: </p>
    </div>
    <div class="col-sm-8">
      <p>JOHN KENNETH VALLEJI </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Email Address:</p>
    </div>
    <div class="col-sm-8">
      <p>VALLEJOJK@iskolarngbayan.pup.edu.ph</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Purpose of Visit:</p>
    </div>
    <div class="col-sm-8">
      <p>Processing of Documents</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Transaction:</p>
    </div>
    <div class="col-sm-8">
      <p>Certification of Grades</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Course:</p>
    </div>
    <div class="col-sm-8">
      <p>BSIT:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Year and Section:</p>
    </div>
    <div class="col-sm-8">
      <p>4-1:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Student Number:</p>
    </div>
    <div class="col-sm-8">
      <p>2019-00127-SR-0:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Contact No:</p>
    </div>
    <div class="col-sm-8">
      <p>099873727273</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Gender:</p>
    </div>
    <div class="col-sm-8">
      <p>Male</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Address:</p>
    </div>
    <div class="col-sm-8">
      <p>delapaz</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p>Status:</p>
    </div>
    <div class="col-sm-8">
      <p>Pending</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Please check you PUP webmail for your gatepass and transaction code. Your gatepass will be the proof that you have an appointment within the campus</h5>
    </div>
    <div class="col-md-6 continue">
      <button type="button" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>
